<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uploaded Image</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        {% if filename %}
            <h2>Uploaded Image</h2>
            <img src="{{ url_for('static', filename='images/' + filename) }}" alt="uploaded image" width="500">
        {% endif %}
    
        {% if not prediction %}
            <p>Khong co mon an</p>
        {% else %}
            <p>Prediction: 
                {% for food in prediction %}
                    <p>{{food}}</p>
                {% endfor %}
            </p>
        {% endif %}
    
        {% if filename %}
            <h2>Result with Bounding Box</h2>
            <img src="{{ url_for('static', filename='images/result.jpg') }}" alt="result with bounding box" width="500">
        {% endif %}
        <br>
        <br>
        <a href="{{ url_for('index') }}">Upload another image</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>