*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100%;
}
body{
    overflow: hidden;
    background-color: #E4D0D0;
}
.text>h1{
    text-align: center;
    padding: 25px;
}

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image1 img {
    width: 100%;
    max-width: 500px;
    margin: 10px;
}
.upImg {
    float:left;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px; 
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px; 
    transition: background-color 0.3s ease;
    margin-top: 10px; 
    margin-left: 150px; 
}

.upImg:hover {
    background-color: #333;
    color: #fff;
}
.row{
    display: flex;
    margin-top:25px;
}

.predict{
    display: flex;
    flex-wrap: wrap;
    font-family:'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    float:right;
    padding-left: 10%;
}

.predict p{
    white-space: nowrap;
    margin-right: 10px;
}
