*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   overflow: hidden;
}
.bg{
   background-image: url("/static/styles/backgr-food.jpg");
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 700px;
}
.text{
   text-align: center;
   padding: 30px;

}
.btn{
   margin: 30px;
}
